<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DASHBOARD - Notifry</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/dashstyle.css" rel="stylesheet">

    <!-- bootstrap multiselect css -->
    <link href="../static/css/bootstrap-multiselect.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<form action="{{ url_for('dashboard') }}" method="post">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border-bottom: none;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">Notifry</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-bolt"></i>  Alert Name</a>
                            <p class="alert-text">Alert text here</p>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-bolt"></i>  Alert Name</a>
                            <p class="alert-text">Alert text here</p>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-bolt"></i>  Alert Name</a>
                            <p class="alert-text">Alert text here</p>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-bolt"></i>  Alert Name</a>
                            <p class="alert-text">Alert text here</p>
                        </li>                      
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                        {% with messages = get_flashed_messages() %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                        {% endwith %}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <!--<a name="logout" href="#"><i class="fa fa-fw fa-power-off" ></i> Log Out</a>-->
                            <button id="logout-btn" type="submit" name="logout"><i class="fa fa-fw fa-power-off" ></i>Logout</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    <li class="active" id="dashboard" style="border-top: none;">
                        <a href="{{ url_for('dashboard') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li id="create">
                        <a href="#" ><i class="fa fa-fw fa-plus-circle"></i> Create Notification</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-eye"></i> View Notifications</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Manage Notifications</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-book"></i> Contacts / Groups</a>
                    </li>
        <!--            <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>  -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row" id="dashheading">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Page Heading -->
                <div class="row" id="dashheadingnew">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Create <small>Notification</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
         
                <div class="row">
                    <div class="col-lg-4 pull-right" id="notifhistory">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Notification History</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                          <!--          <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                    </a>   -->
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>                                    
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Created something awesome and awesome
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 pull-left" id="form1">
                      
                      <form name="newform" action="{{url_for('dashboard')}}" method="post">
                        <div class="form-group">
                            <label for="inputTitle">Notification Title</label>
                            <input type="type" class="form-control" id="inputTitle" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="receiver">Receiver Type</label>
                            <select name="receiver_type" id="receiver" class="form-control">
                                <option value="null">---Choose a type---</option>
                                <option value="indi">Individual</option>
                                <option value="grp">Group</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notiftype">Notification Type</label>
                            <select name="type" id="notiftype" class="form-control">
                                <option value="null">---Choose a type---</option>
                                <option value="email">Email</option>
                                <option value="sms">Text message</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label><input name="push" value="1" type="checkbox"> Push notification</label>
                        </div>
                    </form>

                  </div>

                  <div class="col-lg-6 pull-left" id="form2">
                      
                      <form action="{{url_for('dashboard')}}" method="post" name="newform">
                        <div class="form-group">
                            <label for="contactgroup">Receiver(s)</label><br>
                            
                            <select name="receivers" class="multiselect" multiple="multiple" id="contactgroup">
                                <option value="john">John</option>
                                <option value="peter">Peter</option>
                                <option value="henry">Henry</option>
                                <option value="james">James</option>
                                <option value="andrew">Andrew</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Message Subject (optional)</label>
                        <input name="subject" type="text" class="form-control" placeholder="Message"> <br/>
                        </div>
                        <div class="form-group">
                            <label>Enter message (500 char)</label>
                            <textarea name="msg" rows="6" cols="35" placeholder="Your message here" maxlength="500" class="form-control"></textarea>
                        </div>
                        <div class="pull-right">
                            <button type="reset" class="btn btn-danger" id="resetform">Reset</button>
                            <button name="send" type="submit" class="btn btn-success">Send</button>
                        </div>
                        
                        
                    </form>

                  </div>
                </div>
                <!-- /.row -->
                <div class="row">

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        
        <div class="footer fixed visible-lg visible-md visible-sm">
          
            <p class="text-muted">Notifry &copy; 2014. All Rights Reserved.</p>
          

        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.multiselect').multiselect({
                includeSelectAllOption: true  ,
                buttonWidth: '300px'
            });
        });
    </script>

    <script type="text/javascript">
        $("#resetform").click(function (){
        document.forms["newform"].reset();
        
    });
    
        $('#contactgroup-form').on('reset', function() {
            $('#contactgroup option').each(function() {
                $(this).prop('selected', false);
            })
         
            $('#contactgroup').multiselect('refresh');
        });
        
    </script>
    <script type="text/javascript">
        $("#create").click(function () {
            $("#form1").show();
            $("#form2").show();
            $("#dashheadingnew").show();
            $("#notifhistory").hide();
            $("#dashheading").hide();

            $('#dashboard').removeClass('active');
            $('#create').addClass('active');
            return false;
        });
    </script>

    <script type="text/javascript">
    $('#dashboard').click(function () {
        $('#dashboard').addClass('active');
        $('#create').removeClass('active');
    })
    </script>
</form>
</body>

</html>
