<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notifry - Home</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

      <div class="container">

      <form action="{{url_for('index')}}" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Notifry</h2>
        <input type="email" class="form-control" placeholder="Email address" name="email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="passwd" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
          {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
          {% endwith %}
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Sign in</button>
        <button class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target="#myModal">Register now</button>
      </form>
      

    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Registration</h4>
          </div>

          <div class="modal-body">
          <form action="{{url_for('index')}}" method="post" class="form-signin" role="form">
                <input type="text" class="form-control" placeholder="Enter name" name="name" required autofocus>
                <input type="email" class="form-control" placeholder="Email address" name="email1" required>
                <input type="email" class="form-control" placeholder="Re-enter email address" name="email2" required>        
                <input type="password" class="form-control" placeholder="Enter Password" name="passwd1" required>
                <input type="password" class="form-control" placeholder="Re-enter Password" name="passwd2" required>

          <div class="modal-footer">
            <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" name="register">Register</button>
          </div>
          </form>
          </div>

        </div>
      </div>
    </div>  <!-- close modal -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('.modal').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });
    </script>
  </body>
</html>